<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campushive.app">

    <application
        android:allowBackup="true"
        android:label="CampusHive"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusHive">
        
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CampusHive.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.SignupActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.DashboardActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.NotesActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.UploadNoteActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.EventsActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.AddEventActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.LostFoundActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.ReportItemActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.ChatListActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.ChatRoomActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.StudyGroupActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />
        <activity android:name=".activities.AnonFeedActivity" android:theme="@style/Theme.CampusHive.NoActionBar" />

    </application>
</manifest>
